<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.com/extras/spring-security">
    <head>
        <title>INICIO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text=" 'Hola ' + ${session.usuariosession.nombre} + '!' "></h1>
        <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="Img Perf">
        <nav th:replace="/fragments/navbar :: nav"> </nav>
    </body>
</html>
