<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.com/extras/spring-security">
    <head>
        <title>Lista de libros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">ISBN</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Ejemplares</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Editorial</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="libro : ${libros}">
                    <tr>
                        <th scope="row" th:text="${libro.isbn}"></th>
                        <td th:text="${libro.titulo}"></td>
                        <td th:text="${libro.ejemplares}"></td>
                        <td th:text="${libro.autor.nombre}"></td>
                        <td th:text="${libro.editorial.nombre}"></td>
                        <td>
                            <a th:href="@{/libro/modificar/__${libro.isbn}__}" sec:authorize="hasRole('ADMIN')">Modificar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a th:href="@{/inicio}">Volver</a>
    </body>
</html>
